.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
}

.c--clicked {
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #121212;
}
.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 2;

  transition: all 100ms ease;
  transition-property: opacity;
  transition: all 100ms ease;
  transition-property: opacity, background-color, transform;
}
html,
body {
  background-color: black;
  cursor: none;
}
html *,
body * {
  cursor: none;
}
.c--hidden {
  opacity: 0;
}
